body {
    background-color: #f9e7d6;
}

.logo_button {
    position: relative;
}

.oval {
    position:absolute;
    top: -300px;
    left: -50px;
    width: 240px;
    height: 600px;
    background: #f0582b;
    border-radius: 100px;
    z-index: 1;
}

.circle {
    position:absolute;
    top: -50px;
    left: 70px;
    width: 200px;
    height: 200px;
    background: #fa8da0;
    border-radius: 50%;
    z-index: 2;
}

.name {
    position:absolute;
    color: #f9e7d6;
    font-size: 50px;
    font-family: "archivo black", sans-serif;
    text-decoration: none;
    z-index: 3;
}

.home_button_highlighted {
    position: relative;
}

.star_highlighted {
    position: absolute;
    color: #f0582b;
    width: 200px;
    left: 600px;
    z-index: 4;
}

.button_home {
    position: absolute;
    color: #f9e7d6;
    font-size: 23px;
    top: 33px;
    left: 665px;
    font-family: "archivo black", sans-serif;
    text-decoration: none;
    z-index: 5;
}

.other_buttons {
    position: relative;
    color: #f9e7d6;
}

.star {
    position: absolute;
    left: 815px;
    top: -2px;
    width: 195px;
    z-index: 6;
}

.blog_button {
    position: absolute;
    color: #f9e7d6;
    font-size: 23px;
    top: 33px;
    left: 860px;
    font-family: "archivo black", sans-serif;
    text-decoration: none;
    z-index: 7;
}

.star2 {
    position: absolute;
    left: 1000px;
    top: -2px;
    width: 195px;
    z-index: 8;
}

.about_button {
    position: absolute;
    color: #f9e7d6;
    font-size: 23px;
    top: 33px;
    left: 1035px;
    font-family: "archivo black", sans-serif;
    text-decoration: none;
    z-index: 9;
}

.content {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 350px;
    top: 250px;
    border-radius: 30px;
    background-color: #fa8da0;
    width: 800px;
}

.body_text {
    width: 750px;
    font-size: 30px;
    margin-left: 50px;
    font-family: "Open sans", sans-serif;
    color: #f9e7d6;
}

a span {
  display: block;
}



